DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=

INSTALL_WP_COMMAND=wp
INSTALL_SITE_URL=https://v29.ddev.site/
INSTALL_SITE_TITLE=
INSTALL_ADMIN_USER=
INSTALL_ADMIN_PASSWORD=
INSTALL_ADMIN_EMAIL=

AUTH_KEY=
SECURE_AUTH_KEY=
LOGGED_IN_KEY=
NONCE_KEY=
AUTH_SALT=
SECURE_AUTH_SALT=
LOGGED_IN_SALT=
NONCE_SALT=

WP_DEBUG=true

WPMS_MAIL_FROM=
WPMS_MAIL_FROM_NAME=
WPMS_SMTP_HOST=
WPMS_SMTP_PORT=
WPMS_SSL=
WPMS_SMTP_AUTH=
WPMS_SMTP_USER=
WPMS_SMTP_PASS=